<h1> <%=@movie.name%> </h1>

Directed by: <%=@movie.director%><br>
Genre: <%=@movie.genre%><br>
Release Date: <%=@movie.release_date%><br>
Rotten Potatoes(tm): <%=rand(100)%>% Fresh

<br><br>

<form action="/movies/<%=@movie.slug%>/edit">
    <input type="submit" value="Edit" />
</form>

